/* .buy-hero {
  height: 70vh;

  background:
    linear-gradient(rgba(15,23,42,.7),
    rgba(15,23,42,.8)),
    url("/images/hero-car.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: white;
}

.buy-overlay{
  max-width:700px;
}

.buy-overlay h1{

  font-size:4rem;

  margin-bottom:20px;
}

.buy-overlay p{

  color:#cbd5e1;

  line-height:1.8;

  margin-bottom:35px;

  font-size:18px;
}

.buy-overlay button{

  padding:15px 35px;

  border:none;

  border-radius:40px;

  background:#38bdf8;

  color:white;

  cursor:pointer;

  font-size:18px;

  transition:.3s;
}

.buy-overlay button:hover{

  transform:translateY(-4px);

  background:#0ea5e9;
} */
 .buy-page{
    background:#0f172a;
    color:white;
    min-height:100vh;
}

.buy-hero{
    height:70vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:0 8%;

    background:
    linear-gradient(rgba(15,23,42,.75),
    rgba(15,23,42,.8)),
    url("/cars/bmw.jpeg");

    background-size:cover;
    background-position:center;
}

.buy-content{
    max-width:700px;
}

.buy-content h1{
    font-size:4rem;
    margin-bottom:20px;
}

.buy-content p{
    color:#cbd5e1;
    font-size:18px;
    line-height:1.8;
    margin-bottom:35px;
}

.buy-btn{
    padding:15px 35px;

    border:none;

    border-radius:40px;

    background:#38bdf8;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;
}

.buy-btn:hover{

    background:#0ea5e9;

    transform:translateY(-4px);
}

@media(max-width:768px){

.buy-content h1{

font-size:2.7rem;

}

.buy-content p{

font-size:16px;

}
}